.footer{
    background: rgba(255, 255, 255, 0.5);
    height: 10rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1rem;
    
    color:rgb(141, 140, 140) ; 
    &__a{
        text-decoration: none;
        color:rgb(141, 140, 140) ; 
        transition: 0.2s;
        &:hover{
            color: black;
        }
    }
}